---
import Palette from "./CommandPalette/PaletteWrapper";
import Widget from "./LinearWidget/Widget";

const images = {
	Notion: "/notion.png",
	Linear: "/linear.png",
	Claude: "/claude.png",
	Gmail: "/gmail.png",
	Slack: "/slack.png",
}

const items = ["Notion", "Linear", "Claude", "Gmail", "Slack"]
---

<div class = "flex justify-center w-2xl">
	<Widget/>
</div>