---
import Palette from "./CommandPalette/PaletteWrapper";
---

<div class = "bg-black/90 flex justify-center w-2xl">
	<Palette 
	client:only = "react"
	filteredItems = {["Notion", "Linear", "Claude", "Gmail", "Slack"]}
	/>
</div>