---
import ResendNav from "./ResendNav/ResendNav.tsx";
import Banner from "./ArcadeBadge/Banner.tsx";
import PaletteWrapper from "./CommandPalette/PaletteWrapper";
---

<div class = "bg-black/90 flex flex-center justify-center w-2xl">
	<PaletteWrapper client:load/>
</div>